/**
Based on https://getbootstrap.com/docs/4.6/examples/dashboard/#
 */

.sidebar {
    position: relative;
    left: 0;
    top: 0;
    min-width: 200px;
    padding: 4px 4px 0 4px; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #f1f0f0;
}

.sidebarSticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: scroll; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebarSticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

@media (min-width: 2500px){
    .sidebar {
        max-width: 300px;
    }
}