.directory {
    background: #f7f7f7;
    font-family: monospace;
    font-size: 16px;
    color: black;
    user-select: none;
    max-height: 90vh;
}

.directory .tree,
.directory .tree-node,
.directory .tree-node-group {
    list-style: none;
    margin: 0;
    padding: 0;
}

.directory .tree-branch-wrapper,
.directory .tree-node__leaf {
    outline: none;
}

.directory .tree-node {
    cursor: pointer;
}

.directory .tree-node:hover {
    background: #d6e4ff;
}

.directory .tree .tree-node--focused {
    background: #9af1fa;
}

.directory .tree .tree-node--selected {
    background: #b0bec5;
}

.directory .tree-node__branch {
    display: block;
}

.directory .icon {
    vertical-align: middle;
    padding-right: 5px;
}

.directory .scroll {
    max-height: calc(90vh - 2.5rem); /* 90vh (from codemirror) - 2.5rem (from tree-view-header) */
    overflow-y: auto;
}

.directory .tree-view-header {
    padding: 5px;
    background: #f0f0f0;
    border-bottom: 1px solid #e0e0e0;
    height: 2.5rem;
}