.multiLineTextBlock {
    white-space: pre-wrap;
}

.textTruncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
}
