div.taskGridTableContainer {
    overflow-x: auto;
    overflow-y: visible;
    min-height: 400px;
    table-layout: fixed;

}

.sticky tbody:nth-child(even) tr:nth-child(odd) td:nth-child(-n+2) {
    background-color: #f4f4f4;
    outline: 1px solid #e9ecef;
    border: none;
    outline-offset: -1px;
}

.sticky tbody tr:hover td {
    background-color: #EFEFEF !important;
}

.sticky tbody:nth-child(even) tr:nth-child(even) td:nth-child(-n+2) {
    background-color: white;
    outline: 1px solid #e9ecef;
    border: none;
    outline-offset: -1px;
}


.taskGridDropdown > button,
.taskGridCellButton {
    min-width: 50px;
    padding: 5px 0;
    font-size: 1.1em;
    font-weight: bold;
}


th.taskNameCell {
    text-align: center;
    vertical-align: bottom;
}

th.taskNameCell > span {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    white-space: nowrap;
}


.stickyHead {
    min-width: 170px;
    position: sticky;
    left: 0;
    z-index: 2;
}

.outlines {
    outline: 1px solid #e9ecef;
    border: none;
    outline-offset: -1px;
}

.taskQuickGraderCellInput {
    width: 50px;
    padding: 5px 0;
    font-size: 1.1em;
    font-weight: bold;
}